.breedList {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.block {
  width: 100%;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  transition: all 250ms ease;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  color: #00f;
  cursor: pointer;
  font-weight: 700;
  font-size: x-large;
  user-select: none;
}

.description {
  padding: 10px;
  background-color: #fff;
  font-weight: 600;
  font-size: 18px;
  border-top: #00f 1px solid;
}

@media (max-width: 768px) {
  .header {
    font-size: clamp(10px, 4vw, 26px);
  }

  .description {
    font-size: clamp(7px, 3vw, 20px);
  }

  .block {
    padding: 0;
  }

  .header {
    padding: 4%;
  }

}