.main {
  padding: 5vmin;
  width: 100%;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000de;
  transition: 300ms;
  z-index: 10;
}

.selectBreedBtn {
  width: 90vw;
  margin: auto;
  font-weight: 700;
  padding: 20px 0;
  font-size: x-large;
  border-radius: 30px;
  cursor: pointer;
  transition: 100ms;
  margin-bottom: 5vh;
}

@media (max-width: 768px) {
  .selectBreedBtn {
    position: fixed;
    bottom: 5vh;
    left: 5vw;
  }
}

.breedSelected {
  background: #00f;
  color: #fff;
}

.breedSelected:hover {
  background: #0000db;
  color: #fff;
}

.breedUnselected {
  background: #757575;
  color: #eeeeee;
}

.breedUnselected:hover {
  background: #a0a0a0;
  color: #eeeeee;
}

.dialogContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 12;
}

.breedsDialog {
  background: #fff;
  border-radius: 50px;
  min-width: 40vw;
  min-width: 450px;
  height: 90vh;
  overflow: hidden;
  z-index: 11;
  display: flex;
  flex-direction: column;
  transition: 150ms ease;
  overflow: auto;
}

.searchBox {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00f;
  width: 100%;
  padding: 20px 36px;
  font-size: 16px;
  font-weight: 600;
  background: #fff;
}

.topSearchBox {
  top: 0;
  border-bottom: #0000ff 1px solid;
}

.bottomSearchBox {
  bottom: 0;
  border-top: #0000ff 1px solid;
  display: none;
}

@media (max-width: 768px) {
  .topSearchBox {
    display: none;
  }

  .bottomSearchBox {
    display: flex;
  }
}

@media (max-width: 768px) {
  .breedsDialog {
    width: 100vw;
    height: 100svh;
    border-radius: 0;
    min-width: auto;
  }

  .selectBreedBtn {
    padding: 20px;
    font-size: 22px;
  }
}

@media (max-width: 376px) {
  .searchIcon {
    display: none;
  }

  .searchBox {
    padding: 5vw;
  }

  .searchBreed {
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .breedsDialog {
    min-width: auto;
    min-width: 60vw;
  }
}

@media (max-width: 768px) {
  .selectBreedBtn {
    font-size: 5cqw;
    padding: 4%;
  }
}

.searchIcon {
  color: #00f;
  margin-right: 20px;
}

.cross {
  padding: 0;
}

.searchBreed {
  flex-grow: 1;
  outline: none;
}

.breedList {
  overflow-y: auto;
  flex-grow: 1;
}

.breedListElement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  padding: 20px 20px;
  border-bottom: #b9b9b9 1px solid;
  background: #fff;
  cursor: pointer;
  transition: 250ms;
}

@media (pointer: coarse) {
  .breedListElement:active {
    transition: 0ms;
    background-color: #0000ff !important;
    color: #fff;
  }
}

.breedListElement:hover {
  background-color: #d6d6ff;
}

.wrapperActive {
  opacity: 1;
  pointer-events: all;
}

.wrapperInactive {
  opacity: 0;
  pointer-events: none;
}

.dialogActive {
  transform: scale(1);
}

.dialogInactive {
  transform: scale(0);
}

.pointerEventsAll {
  pointer-events: all;
}

.pointerEventsNone {
  pointer-events: none;
}