.main {
  background: #fff;  
}

.main > :first-child {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  display: flex;
  flex-direction: column;

}

.title {
  color: blue;
  text-align: center;
  align-self: center;
  width: 90%;
}

.teaserWrapper {
  align-self: center;
  padding: 50px 0;
  width: calc(min(90vw, 100%));
}

.about {
  padding: 80px;
  color: blue;
  font-weight: 700;
}

@media (max-width: 768px) {
  .teaserWrapper {
    width: calc(min(90vw, 100%));
    width: 100vw;
    padding-top: 0;
  }

  .teaserWrapper div {
    border: none;
    border-radius: 0;
    width: 100%;
  }
}