.imageList {
	display: flex;

	padding: 1.5rem;
	animation: teaser-row linear infinite 90s;
	will-change: transform, opacity;
	user-select: none;
}

.teaser {
	background-color: #ffffff;
  overflow-x: hidden;
  border: 0.5px solid #0000ff;
  border-radius: 50px;
	width: 100%;
}

.image {
	border-radius: 20px;
}

@media (min-width: 769px) {
	.imageList {
		gap: 30px;
	}

	.image {
		max-height: 20vw;
		min-height: 20vw;
		min-width: 30vw;
		max-width: 30vw;
	}
}

@media (max-width: 768px) {
	.imageList {
		animation: teaser-row linear infinite 70s;
		gap: 50px;
	}

	.image {
		max-height: 60vh;
		min-height: 60vh;
		min-width: 40vh;
		max-width: 40vh;
	}
}


@media (max-width: 480px) {
	.imageList {
		animation: teaser-row linear infinite 45s;
		gap: 30px;
	}
}

@keyframes teaser-row {
	0% {
		opacity: 0%;
		transform: translateX(0);
	}

	1% {
		opacity: 100%;
	}

	99% {
		opacity: 100%;
	}

	100% {
		opacity: 0%;
		transform: translateX(-250%);
	}
}